# --------------------------
# Python
# --------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# --------------------------
# Environment / Secrets
# --------------------------
.env
*.env
*.secret

# --------------------------
# Logs
# --------------------------
*.log

# --------------------------
# IDE / Editor
# --------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --------------------------
# OS files
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# Flask / Web
# --------------------------
instance/
*.sqlite3